@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  main {
    @apply bg-gradient-to-b from-slate-200 via-white to-slate-200 text-slate-500 dark:from-slate-950 dark:via-slate-900 dark:to-slate-950 dark:text-white;
  }

  h2 {
    font-family: var(--font-manrope);
  }
}

@layer components {
  .login-input-field {
    @apply rounded-xl bg-white px-4 py-3 font-semibold leading-none placeholder-slate-400/80 caret-green-500 shadow-sm outline-none ring-1 ring-slate-300/55 placeholder:text-sm placeholder:italic focus:placeholder-slate-300 focus:ring-2 focus:ring-green-500 dark:bg-slate-800/60 dark:placeholder-slate-500 dark:caret-green-600 dark:ring-slate-700 dark:focus:placeholder-slate-600 focus:dark:ring-green-600;
  }

  .input-field {
    @apply rounded-xl bg-slate-50 px-4 py-3 font-semibold leading-none placeholder-slate-400/80 caret-green-500 shadow-sm outline-none ring-1 placeholder:text-sm placeholder:italic focus:placeholder-slate-300 focus:ring-2  dark:bg-slate-900/40 dark:placeholder-slate-500 dark:caret-green-600  dark:focus:placeholder-slate-600;
  }

  .input-focus-ring {
    @apply ring-slate-200 focus:ring-green-500 dark:ring-slate-700 focus:dark:ring-green-600;
  }

  .input-error-ring {
    @apply ring-red-500 dark:ring-red-400;
  }

  .smaller-input-field {
    @apply min-w-[40%] rounded-xl bg-slate-50 px-4 py-2 font-semibold leading-none placeholder-slate-400/80 caret-green-500 shadow-sm outline-none ring-1 ring-slate-200 placeholder:text-sm placeholder:italic focus:placeholder-slate-300 focus:ring-2 focus:ring-green-500 dark:bg-slate-900/40 dark:placeholder-slate-500 dark:caret-green-600 dark:ring-slate-700 dark:focus:placeholder-slate-600 focus:dark:ring-green-600;
  }

  .active-page {
    @apply bg-green-500 text-white dark:bg-green-600;
  }

  .idle-page {
    @apply bg-white dark:bg-slate-800;
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes content-show {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes content-hide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
