@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply scroll-smooth bg-gradient-to-tr from-slate-50 to-slate-300 text-slate-500 dark:from-slate-800 dark:to-slate-950 dark:text-white;
  }
}

@layer utilities {
  .placeholder-italic::placeholder {
    font-style: italic;
  }

  .center {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .input-field {
    @apply placeholder-italic rounded-xl bg-slate-50 p-3 text-sm text-slate-600 placeholder-slate-600 shadow-md outline-none transition-all duration-200 ease-out focus:placeholder-slate-300 focus:ring-2 focus:ring-green-500 dark:bg-slate-700 dark:text-slate-50 dark:placeholder-slate-300/90 dark:focus:placeholder-slate-500;
  }

  .active-page {
    @apply bg-green-500 text-white dark:bg-green-700;
  }

  .idle-page {
    @apply bg-white dark:bg-slate-800;
  }
}
